$color :#5CF9C8;
body {
	margin: 0 auto;
	width: 400px;
	
}
#wrapper {
	

}
#banner {
	background-color: #858484;
	h1 {
		color: $color;
	}
	
	
}
#historyMsg {
	height: 300px;
	overflow: auto;
	border:0.5px solid #C7CCCB;
	background-color: rgba(#BDFCE2,.4);
	
}
.controls {
	padding: 3px 5px;
	position: relative;
	background-color: #D6D3D3;
	.items {
		position: relative;
		opacity: 0.5;
		filter: alpha(opacity=50);

		input {
			height: 25px;
			border:1px solid #ADADAD;
		
		}
		#colorStyle {
			width:50px; 
			border: none;
			padding: 0;
			top: 3px;
			left: 0;
			position: relative;
		}
		#emoji {
			
		}
		#sendImage {
			position:absolute;
			opacity: 0;
			overflow: hidden;
			left: 0px;;
			width: 50px;
		}
		
	}
	#messageInput {
		border: none;
	}
	#sendBtn {
		height: 80px;
		position:absolute;
		bottom: 5px;
		right: 10px;
	}
}
.imageLabel {
	position:relative;
}

#loginWrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(5,5,5,.6);
	text-align: center;
	padding-top: 200px;
	display: block;
	color: #fff;

	#nickWrapper {
		display: none;
	}
}